@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*es para que el scroll sea suave-lento*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins','Source Sans 3', sans-serif;
}
body::-webkit-scrollbar{
    width:10px;
}
body::-webkit-scrollbar-thumb{
    background: rgba( 162, 163, 187, 0.9 );
    border-radius: 5px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}
/*Navegacion*/
header{
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    /* box-shadow: 0px 0.5px 8px #F9A000; */
    position: sticky;
    top: 0;
    z-index: 9999;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(162,163,187,0.27);
    box-shadow: 4px 8px 19px -3px rgba(162,163,187,0.27);
}
nav{
    height: 60px;
    width: 100%;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    width: 79px;
    height: 52px;
    margin-right: 10px;
    margin-top: 10px;
    
}

.bar_btn{
    font-size: 36px;
    margin-right: 20px;
    cursor: pointer;
}

.fa-bars{
    color: #20063B;
    
}

.nav_menu{
    position: fixed;
    width: 170px;
    height: 200px;
    top: 85px;
    right:-1000px;
    /* text-align: center; */
    /* border: 1px solid red; */
    box-shadow: 4px 4px 10px rgba(132, 6, 59, 0.5);
    /*154, 209, 212, 0.5 */
    border-radius: 16px 0px 0px 16px;
    transition: all .5s ;

    background: rgba( 255, 255, 255, 0.4 );
    
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    
    
}

.nav_menu li{
    list-style: none;
    display: none;
    line-height: 30px;
    margin: 0px 10px 0px 20px;
    padding-top: 15px;
    transition: all .5s ;
    /* background: rgba(0, 0, 0, .95);  */
}

.nav_menu .bord{
    border-top: 1px solid #20063B;
}
.nav_menu li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    transition: all .5s ;
}

.nav_menu li a:hover, .nav_menu li a.active{
    color:#CC3363;
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav_menu{
    top: 60px;
    right: 0;
    height: 200px;
    transition: all .5s ;
    z-index: 9999;
}

#check:checked ~ .nav_menu li{
    display: block;
}

/*Footer*/
.site-footer{
    background-color:#26272b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}
.site-footer li{
    list-style: none;
    list-style: none;
    cursor: pointer;
}
.site-footer a{
    text-decoration: none;
}
.content_foo_info{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
}
.site-footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.foo_des{
    color:#737373;
    font-size: 15px;
    text-align: justify;
    margin: 10px 0px 0px 0px;
}
.content_h_m{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content_menu{
    display: flex;
    flex-direction: column;
}

.content_h_m a,.content_menu a{
    color: #737373;
    font-size: 15px;
}
.content_h_m a:hover,.content_menu a:hover{
    color:#3366cc;
}
.site-footer hr{
    width: 280px;
    border-top-color:#bbb;
    opacity:0.5
}
.content_redes{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.copyright-text{
    font-size: 15px;
    color: #737373;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons li a{
    color: #818A91;
    background-color: #33353D;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    border-radius: 100%;
    
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons li a i{
    font-size: 18px;
}
.social-icons li a:hover{
    color: white;
}

.social-icons li .linkedin:hover{
    background: #0A66C2;
}
.social-icons li .git:hover{
    background: #161B22;
}
.social-icons li .correo:hover{
    background: #E4405F;
}
.social-icons li .whats:hover{
    background: #24C24A;
}
/*Media querys*/
@media all and (min-width: 480px){
    .content_foo_info{
        width: 370px;
    }
    .site-footer hr{
        width: 370px;
    }
}
@media all and (min-width: 600px){
    .content_foo_info{
        width: clamp(500px, 60%, 1280px);
    }
    
    .content_habilidades ul{
        columns: 2;
    }
    .site-footer hr{
        width: clamp(500px, 60%, 1280px);
    }
}

@media all and (min-width: 768px){
    
    nav{
        width: clamp(768px, 65%, 1280px);
        height: 60px;
        display: flex;
        flex-direction: row;
        border: none;
        box-shadow: none;
        border-radius: none;
        transition: none;
    }
    .bar_btn{
        display: none;
    }
    .nav_menu{
        width: auto;
        position: relative;
        height: 60px;
        left:0;
        top: 0;
        /* background: none; */
        /* transition: none; */
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;
        box-shadow: none;
        border-radius: none;
        background-color: white;
        border: none;
        transition: none;
    }
    .nav_menu .bord{
        border: none;
    }
    .nav_menu li{
        display: inline-block;
        margin: 0 10px;
        transition: none;
    }

    
    
}
@media all and (min-width: 1280px){
    .content_foo_info{
        display: flex;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }
    .content_foo_info .content_h_m{
        margin-top: 0;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .content_h_m .content_habilidades{
        width: 250px;
        
    }
    .content_redes{
        width: clamp(762px,65%,995px) !important;
        margin: 0 auto;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
}